<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar Detalhes do Usuário</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-secondary" (click)="voltar()">
                Voltar
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="pricing-header form-block mx-auto">
            <form [formGroup]="editForm" (ngSubmit)="atualizarForm()" novalidate>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Nome</label>
                                <input type="text" formControlName="nome" class="form-control" required />
                                <!-- errors-->
                                <p *ngIf="nome.touched && nome.invalid" class="error">
                                    <sup>*</sup>Por favor nos diga seu nome
                                </p>
                                <p *ngIf="nome.errors?.['minlength']" class="error">
                                    <sup>*</sup>Nome deve ter mais que 2 letras
                                </p>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Sobrenome</label>
                                <input type="text" formControlName="sobrenome" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Email</label>
                                <input type="email" formControlName="email" class="form-control" required />
                                <!-- errors-->
                                <p *ngIf="email.touched && email.invalid" class="error">
                                    <sup>*</sup>Por favor insira um email
                                </p>
                                <p *ngIf="email.errors?.['pattern']" class="error">
                                    <sup>*</sup>Por favor insira um email válido
                                </p>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Senha</label>
                                <input type="passsword" formControlName="senha" class="form-control" required />
                                <!-- errors-->
                                <p *ngIf="senha.touched && senha.invalid" class="error">
                                    <sup>*</sup>Por favor insira uma senha
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>CPF</label>
                                <input type="text" formControlName="cpf" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Telefone</label>
                                <input type="text" formControlName="telefone" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Endereço</label>
                                <input type="text" formControlName="endereco" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Número</label>
                                <input type="text" formControlName="numero" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Complemento</label>
                                <input type="text" formControlName="complemento" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>CEP</label>
                                <input type="text" formControlName="cep" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Estado</label>
                                <input type="text" formControlName="estado" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid">
                            Atualizar Usuario
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>