<div class="all">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Sair
          </a>
        </li>
      </ul>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
    <p>cliente works!</p>
</div>