<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Obrigado por se registrar</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Nós enviamos um email de confirmação para <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Por favor verifique seu email e clique no link para validar seu email</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Re-enviando verificação de E-mail
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para ?<span class="redirect" routerLink="/sign-in"> Entrar</span></span>
      </div>
    </div>
  </div>