<div class="pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Adicionar Skate</h2>
</div>
<form [formGroup]="skateForm" (ngSubmit)="submitSkateData()" novalidate>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Nome</label>
                    <input type="text" formControlName="nome" class="form-control" required>
                    <!-- errors-->
                    <p *ngIf="nome.touched && nome.invalid" class="error">
                        <sup>*</sup>Por favor informe o nome do Skate
                    </p>
                    <p *ngIf="nome.errors?.['minlength']" class="error">
                        <sup>*</sup>O nome deve ter mais que 2 letras
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Valor</label>
                    <input type="number" step="0.01" formControlName="valor" class="form-control" placeholder="R$ 0000,00" />
                </div>
                <div class="col-md-12 mb-3">
                    <label>Tamanho</label>
                    <input type="text" formControlName="tamanho" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="tamanho.touched && tamanho.invalid" class="error">
                        <sup>*</sup>Por favor informe o tamanho do Skate
                    </p>
                    <p *ngIf="tamanho.errors?.['minlength']" class="error">
                        <sup>*</sup>O tamanho deve ter mais que 2 caracteres
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Design</label>
                    <input type="file" (change)="upload($event)" formControlName="design" accept=".png,.jpg" />
                </div>
                <div class="col-md-12 mb-3">
                    <label>Lixa</label>
                    <input type="text" formControlName="lixa" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="lixa.touched && lixa.invalid" class="error">
                        <sup>*</sup>Por favor informe a lixa do Skate
                    </p>
                    <p *ngIf="lixa.errors?.['minlength']" class="error">
                        <sup>*</sup>A lixa deve ter mais que 2 letras
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Material</label>
                    <input type="text" formControlName="material" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="material.touched && material.invalid" class="error">
                        <sup>*</sup>Por favor informe o material do Skate
                    </p>
                    <p *ngIf="material.errors?.['minlength']" class="error">
                        <sup>*</sup>O material deve ter mais que 2 letras
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Modelo</label>
                    <input type="text" formControlName="modelo" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="modelo.touched && modelo.invalid" class="error">
                        <sup>*</sup>Por favor informe o modelo do Skate
                    </p>
                    <p *ngIf="modelo.errors?.['minlength']" class="error">
                        <sup>*</sup>O modelo deve ter mais que 2 letras
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Marca</label>
                    <input type="text" formControlName="marca" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="marca.touched && marca.invalid" class="error">
                        <sup>*</sup>Por favor informe a marca do Skate
                    </p>
                    <p *ngIf="marca.errors?.['minlength']" class="error">
                        <sup>*</sup>A marca deve ter mais que 2 letras
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Linha</label>
                    <input type="text" formControlName="linha" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="linha.touched && linha.invalid" class="error">
                        <sup>*</sup>Por favor informe a linha do Skate
                    </p>
                    <p *ngIf="linha.errors?.['minlength']" class="error">
                        <sup>*</sup>A linha deve ter mais que 2 letras
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Resina</label>
                    <input type="text" formControlName="resina" class="form-control" />
                    <!-- errors-->
                    <p *ngIf="resina.touched && resina.invalid" class="error">
                        <sup>*</sup>Por favor informe a resina do Skate
                    </p>
                    <p *ngIf="resina.errors?.['minlength']" class="error">
                        <sup>*</sup>A resina deve ter mais que 2 letras
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">
                Resetar
            </button>
            <button type="submit" class="btn btn-success" [disabled]="!skateForm.valid">
                Adicionar Skate
            </button>
        </div>
    </div>
</form>