.statusT {
	color:green;
}

.statusF {
	color:red;
}

.user {
	color:teal;
}

.boot {
	color:chocolate;
	padding:inherit;
	border: thick;
}

.img-thumbnail{
	height: 150px !important;
	width: 500px !important;
}

.navbar-dark{
	background-color: aliceblue !important;
}

