<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Resetar sua senha</h3>
        <p class="text-center">Por favor informe o seu endereço de email para enviarmos um pedido de renovação da senha.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Seu Email" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Resetar Senha" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para? <span class="redirect" routerLink="/sign-in">Entrar</span></span>
      </div>
    </div>
  </div>