<div class="all">
  <br>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 style="color:orange;">Cadastrar</h3>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Seu Email" #userEmail required />
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Senha" #userPwd required />
        </div>
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Cadastrar"
            (click)="authService.SignUp(userEmail.value, userPwd.value)" />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Ou</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue com Google
          </button>
        </div>
        <div class="redirectToLogin">
          <span>Já tem uma conta ?
            <span class="redirect" routerLink="/sign-in">Entrar</span></span>
        </div>
      </div>
    </div>
  </div>
</div>